{% extends "user-layout.html" %}
{% block body %}
    <h1>Your Cart</h1>
    {% if cart_items|length<=0 %}
        <p>Cart is Empty!!!!!</p>
    {% else %}
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>&#8377;{{ item.product.peach }}</td>
                <td>&#8377;{{ item.cart_total }}</td>
                <td><a href="/delete/{{item.product.pid}}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
        <tr class="table-info">
            <td><b>Total Cart Price:</b></td>
            <td></td>
            <td></td>
            <td><b>&#8377;{{ total_cart_price }}</b></td>
            <td><a href="/empty"><button type="button" class="btn btn-danger">Empty Cart</button></a></td>
        </tr>
    </table>
    <div>
        <a href="/place_order"><button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="confirmOrder(event)">Place The Order</button></a>
    </div>
    {% endif %}
    <a href="/cview" class="btn btn-outline-secondary my-3">Back to Home</a>
    <script>
        function confirmOrder(event) {
            event.preventDefault();
            
            var confirmed = window.confirm("Are you sure you want to proceed with ?");
            
            if (confirmed) {
                window.location.href = "/place_order";
            }
            
            return false;
        }
    </script>
{% endblock %}
