{% extends "layout.html" %}
{% block body %}


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if pros|length<=0 %}
        <p>No products found in the category</p>
    {% else %}
    {% for pro in pros %}
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="{{ pro.image_url }}"  alt="{{ pro.name }}">
            <div class="card-body">
                <h5 class="card-title">{{pro.name}}</h5>
                <p class="card-text">&#8377;{{pro.peach}}/{{pro.unit}}</p>
                <p class="card-text">Quantity Available: {{pro.quantity}}</p>
            <a href="/edititem/{{pro.pid}}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
            <a href="/deleteitem/{{pro.pid}}"><button type="button" class="btn btn-outline-danger" onclick="confirmDelete(event, this,'{{pro.name}}','{{pro.pid}}')">Delete</button></a>
            </div>
        </div>
    </div>    
    {% endfor %}
        
    {% endif %}
</div>
<script>
    function confirmDelete(event, link, linkName, pid) {
        event.preventDefault();
        
        var confirmed = window.confirm("This will delete Product: "+linkName+" and all it's details. "+"Are you sure you want to proceed with ?");
        
        if (confirmed) {
            window.location.href = "/deleteitem/"+pid;
        }
        
        return false;
    }
</script>
{% endblock %}